h1{
    font-family: 'EB Garamond', serif;
    text-align: center;
}

p{
    font-family: 'Hind', sans-serif;
    text-align: center;
    padding-bottom: 50px;
}

div {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 200px;
    text-align: left;
}



